body{
    margin: 0;
}
#app{
    display:grid;
    grid-template-areas: 
    "A B B"
    "A B B"
    "A C D";
    height: 100vh;
    border: 2px green solid;
    gap: 30px;
    padding: 30px;
}

#app > *{
    
    border:1px solid red;
}

#app header{
    grid-area: A;
}

#app main{
    grid-area: B;
}
