
*{
    margin:0;
    
    box-sizing: 0;
}
:root{
    font-size: 62.5%;
}
body{
    background: linear-gradient(315deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
    
}
main{
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px .2rem .4rem 0px rgba(0, 0, 0, 0.10);
    border-radius: .6rem;
    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.2rem,90%);
   
 }
 h1{
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
 }
 p{
    margin-bottom: 4.8rem;
 }
 body, button , input{
    font-family: "DM Sans","sans-serif";

 }