*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --azul-marinho-claro:#0C3440;
    --azul-marinho-escuro:#040924;
    --vermelho:#F03E3E;
    --verder:#00453A;
    --cinza:#DCE2E9;
    --borda:rgba(73, 80, 87, 0.30);
    --buton-azul:#02799D;
    --color-text-placeholder:rgba(73, 80, 87, 0.50);
}
body{
    background-color: var(--azul-marinho-escuro);
    font-size: 1.6rem;
    display: grid;
    place-content: center;
    height: 100vh;    
    font-family: 'Roboto', sans-serif;
   
}
.card{
    padding: 4.8rem 6.4rem 6.4rem;
    background: white;
    max-width: 42.8rem;
    margin-inline: auto;
    border-radius: 0.6rem;
    box-shadow: 0px .2rem .4rem 0px rgba(0, 0, 0, 0.10);
}

.titulo{
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--azul-marinho-claro);
}
form h1{
    margin-bottom: 3.2rem;
}
form input{
    width: 100%;
    border: 1px solid var(--borda);
    background: var(--cinza);
    padding: 1.6rem;
    border-radius: .4rem;
    margin-bottom: 1rem;
}
form input:focus{
    outline: 2px solid var(--borda);
}
form label{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--verder);
    margin-bottom: .8rem;
    display: block;
}
.input-wrapper + .input-wrapper{
    margin-top: 1.6rem;
}

form button{
    margin-top: 3.2rem;
    padding: 1.6rem;
    border: none;
    background: var(--buton-azul);
    color: white;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;

}
.modal{
    position: relative;
}
.modal-wrapper{
    position: absolute;
    inset: 0;
    background:rgba(0,0,0,0.7) ;
    display: grid;
    place-content: center;
    opacity: 0;
    visibility:hidden;
}
.modal-wrapper button{
    background:none;
    border: none;
    position: absolute;
    
    top: 1.6rem;
    right: 1.6rem;
    cursor: pointer;
    transition: transform .3s;
    
}
.modal button:hover{
    transform: scale(1.1);
}
.modal-wrapper.open{
    opacity: 1;
    visibility:visible;
}