*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --azul-marinho-claro:#0C3440;
    --azul-marinho-escuro:#040924;
    --vermelho:#F03E3E;
    --verder:#00453A;
    --cinza:#DCE2E9;
    --borda:rgba(73, 80, 87, 0.30);
    --buton-azul:#02799D;
    --color-text-placeholder:rgba(73, 80, 87, 0.50);
}
body{
    background-color: var(--azul-marinho-escuro);
    font-size: 1.6rem;
    display: grid;
    place-content: center;
    height: 100vh;    
    font-family: 'Roboto', sans-serif;
   
}
.card{
    padding: 4.8rem 6.4rem 6.4rem;
    background: white;
    max-width: 42.8rem;
    margin-inline: auto;
    border-radius: 0.6rem;
    box-shadow: 0px .2rem .4rem 0px rgba(0, 0, 0, 0.10);
}